html

    head

        title Platframe | Service: Forms

    body

        h3 ✅ Forms Service is running.

        a(href="https://github.com/platframe/service-forms/") Visit the service repository.
