<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")

    head

        meta(charset="utf-8")
        meta(http-equiv="Content-Type" content="text/html")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        style(type='text/css').

            body { color: #252525; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', 'Source Sans Pro', Roboto, Arial, sans-serif; }

            h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, li a, p a { text-decoration: none; color: #0E77D7 !important; border-bottom: #c8cbe6 1px solid; }

            table { border-spacing: 0; border-collapse: collapse; }
            table td { padding: 0; }
            table th { padding: 0; font-weight: normal; }

            ol, ul { margin-top: 1em; margin-bottom: 2em; }
            ol li, ul li { line-height: 1.6em; margin: 0.5em 0; }

            img { max-width: 100%; border: 0; outline: 0; color: #777777; font-size: 15px; }

            p { line-height: 1.6em; margin: 1em 0; }

            /* recover auto-detected links on iOS */
            a[x-apple-data-detectors=true] { color: inherit !important; text-decoration: inherit !important; border-bottom: none !important; }

            /*\/\/\/\/\/\/\/\/\ END GENERAL RESET /\/\/\/\/\/\/\/\/\*/

        //- MS OUTLOOK RESET
        <!--[if (gte mso 9)|(IE)]>
            style(type='text/css').
                h1, h2, h3, h4, h5, h6 { margin: .5em 0; }
                a { color: #0E77D7; text-decoration: underline; }
                img { -ms-interpolation-mode: bicubic; }
        <![endif]-->

    body

        table(width='100%' cellspacing='0' cellpadding='0')

            table(valign='middle' align='center' width='500' cellspacing='0' cellpadding='25' border='0' bgcolor='white')

                //--- HEADER
                tr
                    td
                        table#header(align='center' width='100%' cellspacing='0' cellpadding='0' border='0')
                            tr
                                td(align='center')= name
                                td(style='color:#aaaaaa') |
                                td(align='center')= phone
                                td(style='color:#aaaaaa') |
                                td(align='center'): a(href=`mailto:${ email }`)= email

                //--- BODY
                tr
                    td
                        table#text(align='center' width='100%' cellspacing='0' cellpadding='25' border='0')
                            tr
                                td= message

                //--- FOOTER
                tr
                    td
                        table#footer(align='center' width='100%' cellspacing='0' cellpadding='14' border='0')
                            tr
                                td(align='center')
                                    | &#128232; sent from&nbsp;
                                    a(style='color:#999999;' href='https://example.com' target='_blank') Example.com
